# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Logs
logs/
*.log

# User-specific
*.user
*.suo
.vs/

# Secrets
appsettings.Production.json
appsettings.Local.json
.env

# Deploy (configs locales)
deploy/project.config.json
deploy/deploy-all.config.json
deploy/deploy.local.ps1
publish/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp

# EF
*.db
